body {
    margin: 0;
    font-family: Arial, sans-serif;

   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("/static/css/class.jpg");


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
    color: #0a192f;
}

.auth-box input,
.auth-box select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: #0a192f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.auth-box button:hover {
    background: #112240;
}

.auth-box a {
    color: #0a192f;
    text-decoration: none;
    font-weight: bold;
}
